name: BUILD Chart

on:
  schedule:
    - cron: "0 0 * * *"
  pull_request:
  push:
    paths:
      - '.github/workflows/build-charts.yaml'
      - 'charts/itsm-dev-platform/values.yaml'
  workflow_dispatch:
    branches:
      - main

env:
  REPO_URL: https://github.com/open-source-solution-design/MicroService.git 
  REPO_BRANCH: main
  TZ: Asia/Shanghai
  TAG: 0.1.4 

jobs:
  build-push-charts:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Initialization environment
      shell: bash
      run: |
        sudo apt update
        sudo apt install git -y
        git config user.name shenlan
        git config user.email manbuzhe2009@qq.com
        sudo curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
        helm plugin install https://github.com/chartmuseum/helm-push.git
        helm repo add minio https://charts.min.io
        helm repo add stable https://charts.onwalk.net
        helm repo add apisix https://charts.apiseven.com
        helm repo add bitnami https://charts.bitnami.com/bitnami 
        helm repo add windmill https://windmill-labs.github.io/windmill-helm-charts/
        helm repo up

    - name: Fetch Upstream charts
      shell: bash
      run: |
        cd ${GITHUB_WORKSPACE}/charts/itsm-dev-platform/       && ls -l && mkdir -pv charts/
        cd ${GITHUB_WORKSPACE}/charts/itsm-dev-platform/charts && rm -rvf apisix     ; helm fetch apisix/apisix --version 2.6.0 --untar
        cd ${GITHUB_WORKSPACE}/charts/itsm-dev-platform/charts && rm -rvf novu       ; helm fetch stable/novu --version 0.1.6 --untar
        cd ${GITHUB_WORKSPACE}/charts/itsm-dev-platform/charts && rm -rvf windmill   ; helm fetch windmill/windmill --version 2.0.88 --untar
        cd ${GITHUB_WORKSPACE}/charts/itsm-dev-platform/charts && rm -rvf redis      ; helm fetch bitnami/redis --version 18.12.1 --untar
        cd ${GITHUB_WORKSPACE}/charts/itsm-dev-platform/charts && rm -rvf mongodb    ; helm fetch bitnami/mongodb --version 14.8.3 --untar
        cd ${GITHUB_WORKSPACE}/charts/itsm-dev-platform/charts && rm -rvf postgresql ; helm fetch bitnami/postgresql --version 12.3.1 --untar
        cd ${GITHUB_WORKSPACE}/charts/itsm-dev-platform/charts && rm -rvf minio      ; helm fetch minio/minio --version 5.0.15 --untar
        rm -f ${GITHUB_WORKSPACE}/*.tgz -f
        rm -f ${GITHUB_WORKSPACE}/charts/itsm-dev-platform/charts/*.tgz
        rm -f ${GITHUB_WORKSPACE}/charts/itsm-dev-platform/*.tgz

    - name: Auto Merged
      shell: bash
      run: |
        git add -A
        git commit -a -m "Auto Commit" || true
        git pull
        git switch -c feature origin/feature
        git checkout main
        git cherry-pick feature
        git push

    - name: Build and Push Chart Package
      working-directory: charts/itsm-dev-platform
      shell: bash
      run: helm cm-push -u admin -p "${{ secrets.HELM_REPO_PASSWORD }}" --force ./ stable
